.cast {
    padding: 0 48px ;
    margin-top: 48px;

    hr {
        border: 1px solid rgba(255, 255, 255, 0.349);
        margin-bottom: 36px;
        
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        color: #ffc107;
        font-size: 1.5em;
        margin-left: 48px;
    }

    &__element {
        margin-top: 32px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;

        &__item {      
            padding: 16px 32px;
            display: inline-flex;
            align-items: center;

            img {
                height: 96px;
                border-radius: 50%;
            }

            &__text {
                margin-left: 16px;
                display: block;
                text-align: left;
                

                h4 {
                    margin-bottom: 8px;
                }
            }
        }
        
        
    }

    
}