@use 'variaveis';

.hero {
    padding: 4.5vw;
    min-height: 75vh;
    margin-top: 1px;
    background-image: url(../images/interestelar_hero_fundo.jpg);
    text-align: center;
    background-size: cover;

    &__content {

        max-width: 450px;
        margin-top: 12vh;

        .title--main {
            color: #ffffff;
            text-transform: uppercase;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            letter-spacing: 1em;
            font-weight: 700;
        }

        .title--small {
            text-align: justify;
            font-weight: 300;
            margin-top: 24px;
            margin-bottom: 64px;
            color: azure;
        }
    }

    

    
}