.social {
    padding: 0 48px ;
    margin-top: 48px;

    hr {
        border: 1px solid rgba(255, 255, 255, 0.349);
        margin-bottom: 36px;
        
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        color: #ffc107;
        font-size: 1.5em;
        margin-left: 48px;
    }
}