.trailer {
    padding: 0 48px ;

    h2 {
        font-size: 3em;
    }

    h3 {
        color: #ffc107;
        font-size: 1.5em;
        margin-left: 48px;
    }

    
}

.trailer__video {
    margin: auto;
    text-align: center;
    margin-top: 32px;
}

