@use 'variaveis';
@use 'header';
@use 'hero';
@use 'info';
@use 'trailer';
@use 'cast';
@use 'social';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    color: #fff;
    list-style: none;
}

body {
    background: linear-gradient(180deg, rgba(5,8,17,1) 25%, rgba(21,37,85,1) 100%);
}                                          